<div class="loading" *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container"*ngIf="!loading">
     <div class="row">
        <div class="col">
            <h3>Lista de Reuniones de <strong class="text-primary">{{user}}</strong></h3>
        </div>
    </div>
    <div class="row" >
        <table class="table table-bordered">
            <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Rut asociado</th>
                <th>Tipo Reunión</th>
                <th>Asunto</th>
                <th colspan="2">Acciones</th>
            </tr>
            <tr *ngFor="let item of dataReus">
                <td>{{item.folio}}</td>
                <td>{{item.fecha | date:'dd-MM-YYYY' }}</td>
                <td>{{item.rutAsociado}}</td>
                <td>{{item.tipoReunion}}</td>
                <td>{{item.asunto}}</td>
                <td><a><span class="material-icons text-primary" [value]="item.id" (click)="verReu($event.target.value)">article</span></a></td>
                <td><a><span class="material-icons text-danger" [value]="item.id" (click)="eliminarReu($event.target.value)">deleted</span></a></td>
            </tr>
        </table>
    </div>
    <div class="row d-flex justify-content-center">
        <button class="btn btn-primary" routerLink="/dashboard/reuniones/panel-reu">Volver</button>
    </div>
</div>