<div class="row pt-5">
    <div class="col">
        <table class="table table-sm table-bordered reg">
            <tr>
                <th>Fecha Ingreso</th>
                <th>Asunto</th>
                <th>Tipo de Reunión</th>
                <th>N° Doc</th>
                <th>Ver</th>
                <th>Borrar</th>
            </tr>
            <tr *ngFor="let item of listadoRegistros">
                <td>{{item.fecha|date:"dd/MM/yy"}}</td>
                <td>{{item.asunto}}</td>
                <td>{{item.tipoReunion}}</td>
                <td>{{item.folio}}</td>
                <td><a><span class="material-icons text-success" (click)="getNumRegistro(item.id)">article</span></a></td>
                <td><a><span class="material-icons text-danger" (click)="deleteRegistro(item.id)">delete</span></a></td>
            </tr>
        </table>
    </div>
</div>