<div class="container" *ngFor="let item of datoRegistro">
    <div class="row" style='width: 100%;'>
        <div  class="col">
            <div class="card p-3">
                <div #detalle class="" >
                    <div class="row">
                        <div class="col colpdfisq" >
                            <h3>Detalles de Registro</h3>
                        </div>
                        <div class="colpdfder">
                            <p>Numero de Folio: <strong class="">{{item.folio}}</strong></p>
                        </div>
                    </div>
                </div>
                <div #datosRegistro class="card pt-4 pb-4 mt-4">
                    <div class="b-rowdatos">
                        <div class="col d-flex mt-2 b-coldatos">
                            <div class="col-4 b-coldatos-inner-uno">
                                <h6 class="text-primary">Fecha</h6>
                            </div>
                            <div class="col b-coldatos-inner-dos"><p>  : {{item.fecha|date:"dd/MM/yyyy"}}</p>
                            </div>
                        </div>
                        <div class="col d-flex b-coldatos">
                            <div class="col-4 b-coldatos-inner-uno">
                                <h6 class="text-primary">Asunto</h6>
                            </div>
                            <div class="col b-coldatos-inner-dos"><p>  : {{item.asunto}}</p></div>
                        </div>
                    </div>
                </div>
                <div #tablaParticipantes class="card pt-4 mt-4">
                    <div class="col b-table-row">
                       <table class="table table-bordered">
                           <thead class="thead-light">
                               <tr>
                                <th>Participante</th>
                                <th>Rut</th>
                                <th style="display: none;" class="firmaParticipante"><p>Firma Participante</p></th>
                               </tr>
                            </thead>
                            <tr *ngFor="let reg of item.participanteReg">
                                <td >
                                    {{reg.nombreParticipante}}
                                </td>
                                <td>{{reg.rut}}</td>
                                <td style="display: none;" class="firmaParticipante"></td>
                            </tr>

                            
                        </table> 
                     </div>
                 </div>
                 <div #antecedentesAcuerdos class="card pt-4 mt-4">
                         <div class="b-rowdatos">
                            <div class="col d-flex mt-2 b-coldatos"> 
                                <div class="col-4 b-coldatos-inner-uno">
                                    <h6 class="text-success">Antecedentes</h6>
                                </div>
                                <div class="col b-coldatos-inner-dos"> 
                                        <p>: {{item.antecedentes}}</p>
                                </div>
                            </div>
                            <div class="col d-flex mt-2 b-coldatos" >
                                <div class="col-4 b-coldatos-inner-uno">
                                    <h6 class="text-success">Acuerdos</h6>
                                </div>
                                <div class="col b-coldatos-inner-dos"> 
                                        <p>: {{item.acuerdos}}</p>
                                </div>
                            </div>
                         </div>
                 </div>
                 <div class="card pt-4 mt-4">
                    <div #tablaProtocolos class="col">
                        <table class="table table-bordered b-table-row">
                           <thead class="thead-light">
                               <tr>
                                    <th>N°</th>
                                    <th>Protocolo Activado</th>
                                    <th>Descripcion Protocolo</th>
                               </tr>
                            </thead>
                            <tr *ngFor="let prot of item.protocoloReg; let x=index ">
                                <td>{{x+1}}</td>
                                <td >
                                    {{prot.nombreProtocolo}}
                                </td>
                                <td>{{prot.descripcionProtocolo}}</td>
                            </tr>
                            
                        </table>
                        <div class="div" *ngIf="item.protocoloReg.length==0"><p>No se activaron protocolos</p></div> 
                     </div>
                 </div>
                 <div class="col mt-4 d-flex justify-content-center align-items-center">
                     <button class="btn btn-success mr-1" (click)="back();" *ngIf="ruta==1">Volver</button>
                     <button class="btn btn-primary" type="button" routerLink="/dashboard">Volver Home</button>
                     <button class="btn btn-warning ml-1 text-white" (click)="generarPdf()">Generar PDF</button>
                     <app-loading class="ml-2" *ngIf="loading"></app-loading>
                 </div>
              </div>
         </div>
     </div>
 </div>