<div class="container" *ngFor="let item of datoRegistro">
    <div class="row" style='width: 100%;'>
        <div  class="col">
            <div class="card p-3">
                <div #detalle class="" >
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <th><h3>Detalles de Registro</h3></th>
                                <tr>
                                    <td>Numero de Folio: {{item.folio}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div #datosRegistro class=" pt-4">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Fecha</td>
                                    <td>{{item.fecha|date:"dd/MM/yyyy"}}</td>
                                </tr>
                                <tr>
                                    <td>Asunto</td>
                                    <td>{{item.asunto}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div #tablaParticipantes class="pt-4">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                     <th>Participante</th>
                                     <th>Rut</th>
                                     <th style="display: none;" class="firmaParticipante"><p>Firma Participante</p></th>
                                    </tr>
                                 </thead>
                                 <tr *ngFor="let reg of item.participanteReg">
                                     <td >
                                         {{reg.nombreParticipante}}
                                     </td>
                                     <td>{{reg.rut}}</td>
                                     <td style="display: none;" class="firmaParticipante"></td>
                                 </tr>
        
                                 
                             </table> 
                        </div>
                    </div>
                 </div>
                 <div #antecedentesAcuerdos class="pt-4 mt-4">
                     <div class="row">
                         <div class="col">
                             <table class="table table-bordered">
                                 <tr>
                                     <td style="width: 30%"><strong>Antecedentes</strong></td>
                                     <td>{{item.antecedentes}}</td>
                                 </tr>
                                 <tr>
                                     <td><strong>Acuerdos</strong></td>
                                     <td>{{item.acuerdos}}</td>
                                 </tr>
                             </table>
                         </div>
                     </div>
                 </div>
                 <div class="pt-4 mt-4">
                    <div #tablaProtocolos class="col">
                        <table class="table table-bordered">
                           <thead class="thead-light">
                               <tr>
                                    <th>N°</th>
                                    <th>Protocolo Activado</th>
                                    <th>Descripcion Protocolo</th>
                               </tr>
                            </thead>
                            <tr *ngFor="let prot of item.protocoloReg; let x=index ">
                                <td>{{x+1}}</td>
                                <td >
                                    {{prot.nombreProtocolo}}
                                </td>
                                <td>{{prot.descripcionProtocolo}}</td>
                            </tr>
                            
                        </table>
                        <div class="div" *ngIf="item.protocoloReg.length==0"><p>No se activaron protocolos</p></div> 
                     </div>
                 </div>
                 <div class="col mt-4 d-flex justify-content-center align-items-center">
                     <button class="btn btn-success mr-1" (click)="back();" *ngIf="ruta==1">Volver</button>
                     <button class="btn btn-primary" type="button" routerLink="/dashboard">Volver Home</button>
                     <button class="btn btn-warning ml-1 text-white" (click)="generarPdf()">Generar PDF</button>
                     <app-loading class="ml-2" *ngIf="loading"></app-loading>
                 </div>
              </div>
         </div>
     </div>
 </div>