<div class="container">
    <div class="row justify-content-center" style="width: 100%;">
        <div class="col-lg-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
                <button class="adm" routerLink="/dashboard/administracion/miestablecimiento/tematicas/paneltematicas/">
                    <div class="card" style="background-color:#088a0f">
                      <!-- style="background-color: #05a7b3;" -->
                        <div class="card-body">
                            <!-- <fa-icon [icon]="faSearch" class="icono" style="color:white ;"></fa-icon> -->
                            <span class="material-icons">insert_drive_file</span>
                          <h5 class="card-title">Tematicas</h5>
                          <h6 class="card-subtitle mb-2" style="color: rgb(230, 214, 214);">Ingresa o modifica las tematicas de tu establecimiento</h6>
                          <p class="card-text"></p>
                        </div>
                      </div>
                </button>
            </div>
            
        </div>
        <div class="col-lg-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
                <button class="adm">
                    <div class="card" style="background-color:#086c8a">
                      <!-- style="background-color: #05a7b3;" -->
                        <div class="card-body">
                            <!-- <fa-icon [icon]="faSearch" class="icono" style="color:white ;"></fa-icon> -->
                            <span class="material-icons">insert_drive_file</span>
                          <h5 class="card-title">Protocolos</h5>
                          <h6 class="card-subtitle mb-2" style="color: rgb(230, 214, 214);">Ingresa o modifica las tematicas de tu establecimiento</h6>
                          <p class="card-text"></p>
                        </div>
                      </div>
                </button>
            </div>
            
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col d-flex justify-content-center">
        <button class="btn btn-success   text-white" routerLink="/dashboard">Volver</button>
    </div>
</div>