.pers{
    display: block;
    border-radius: 5px;
    padding: 5px;
    border-color:rgb(95, 179, 227);
}
img{
    width: 50px;
}
.nav-per, select{
    color: rgb(6, 110, 170);
    
}

span{
    cursor: pointer;
}
