<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <app-loading *ngIf="loading"></app-loading>
        <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="contraseña anterior" formControlName="passwordAnterior">
                <span class="text-danger ml-3"
                *ngIf="cambiarPassword.get('passwordAnterior').hasError('required') && cambiarPassword.get('passwordAnterior').touched"
                >La contraseña es requerida </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="nueva contraseña" formControlName="nuevaPassword">
                <span class="text-danger ml-3"
                *ngIf="cambiarPassword.get('nuevaPassword').hasError('required') && cambiarPassword.get('nuevaPassword').touched"
                >nueva contraseña es requerida </span>
                <span class="text-danger ml-3"
                *ngIf="cambiarPassword.get('nuevaPassword').hasError('minlength')"
                >debe de tener al menos 4 caracteres </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repetir contraseña" formControlName="confirmPassword">
                <span class="text-danger ml-3"
                *ngIf="cambiarPassword.hasError('notSame')">
                    Contraseñas distintas
                </span>
            </div>
            <div class="col text-center">
                <button class="btn btn-success" [disabled]="cambiarPassword.invalid">Aceptar</button>
                <button class="btn btn-secondary ml-2" routerLink="../">Volver</button>
            </div>
        </form>
    </div>
</div>