<div class="container-fluid">
    <div class="row" style="width: 100%;">
        <div  class="col-lg-11 offset-lg-1">
            <div class="card text-left p-4">
                <h2 class="text-warning">Registro</h2>
                <form [formGroup]="datosRegFaltantes" (ngSubmit)="saveRegistro()">
                    <div class="row">
                        <div class="col-lg-9">
                            <p>En esta seccion podras ingresar entrevistas, intervenciones, etc.</p>
                        </div>
                        <div class="col-lg-3 d-flex align-items-baseline">
                            <p class="text-secondary mr-2">Fecha</p>
                            <input type="date" class="form-control" value="{{fecha}}" formControlName="fecha">
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-lg-3">Profesional</div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="{{ profesional }}" disabled>
                        </div>
                    </div>
                    <div #registro class="row pt-4">
                        <div class="col-lg-3">Asunto</div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" [value]="asunto" value="{{ asunto }}" formControlName="asunto">
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-6 mb-4">
                            <h3>Selecciona temática </h3>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-3" *ngFor="let item of lstStaticData">
                            <div class="d-flex align-items-baseline"><input type="checkbox" class="mr-1"  [value]="item.id" (change)="getTematicaId($event, item.id, item.tematica, item.rbd)"><p>{{item.tematica}}</p></div>
                        </div>
                    </div>
                    <div class="row pt-4 mt-4 mb-4">
                        <div class="col">
                            <app-busqueda-rut></app-busqueda-rut>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <p>Antecedentes</p>
                            <textarea cols="30" rows="5" class="form-control" formControlName="antecedentes"></textarea>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <p>Acuerdos</p>
                            <textarea cols="30" rows="5" class="form-control" formControlName="acuerdos"></textarea>
                        </div>
                    </div>
                    <div class="row pt-4" >
                        <div class="col">
                            <div class="d-flex">
                                <h3>Agregar protocolos</h3>
                                <!-- <span class="material-icons text-primary" style="font-size: 50px;">summarize</span><h5 style="display: block;margin-top: 13px;">Protocolos</h5> -->
                            </div>
                            <p>Ingresa los protocolos que serán activados</p>
                            <div class="col d-flex">
                                <select  class="form-control mr-4" (change)="changeFn($event.target.value)">
                                    <option>Selecciona el protocolo</option>
                                    <option *ngFor="let item of protocolos; let x=index" [value]="x">
                                         {{ item.nombreProtocolo }}
                                    </option>
                                </select>
                                <button class="btn btn-primary" type="button" (click)="protocolosArrayTemporal()">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <h6>Listado de Protocolos activados</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row justify-content-center" *ngIf="temporalProtocolos.length==0"><p>No hay protocolos activados</p></div>
                                <table class="table table-bordered" *ngIf="temporalProtocolos.length!=0">
                                   
                                        <thead>
                                            <th>N°</th>
                                            <th>Protocolo</th>
                                            <th>Descripcion</th>
                                            <th>Acción</th>
                                        </thead>
                                   
                                    <tr *ngFor="let tp of temporalProtocolos; let y=index">
                                        <td>{{y+1}}</td>
                                        <td>{{tp.nombreProtocolo}}</td>
                                        <td>{{tp.descripcionProtocolo}}</td>
                                        <td class="text-center"><span class="material-icons text-danger" (click)="eliminaProtocolo(y)">delete</span></td>
                                    </tr>
                                </table>
                            
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col d-flex justify-content-center">
                            <button class="btn btn-success mr-2"[disabled]="datosRegFaltantes.invalid">Guardar</button>
                            <button class="btn btn-primary mr-1" type="button" routerLink="/dashboard/registro/regPasoUno" routerLink="/dashboard">Volver</button>
                            <app-loading *ngIf="loading"></app-loading>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="container">
</div>
