<div class="container">
    <div class="row" style="width: 100%;">
        <div  class="col">
            <div class="card text-left p-4">
                <h2 class="text-primary">Paso 2 de 2 </h2>
                <h3>Reuniones</h3>
            </div>
        </div>
    </div>
</div>

<div class="container mt-1">
    <div class="row" style="width: 100%;" *ngFor="let item of datosPasoUno">
        <div  class="col">
            <div class="card text-left p-4">
                <h3>Detalles de Reunion </h3>
                <div class="form-row mt-3">
                    <div class="col-3"><strong>Profesional</strong></div>
                    <div class="col">: {{item.profesional}}</div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-3"><strong>Estudiante Asociado</strong></div>
                    <div class="col">: {{item.rutAsociado}}</div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-3"><strong>Tipo</strong></div>
                    <div class="col">: {{item.tipoReunion}}</div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-3"><strong>Asunto</strong></div>
                    <div class="col">: {{item.asunto}}</div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-3"><strong>Fecha</strong></div>
                    <div class="col">: {{item.fecha|date:"dd-MM-yyyy"}}  </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="container mt-4">
    <!-- Componente Tematicas -->
    <app-tematica-comp></app-tematica-comp>
    <!-- fin componente -->
    <app-rut-manual></app-rut-manual>
</div>
<form [formGroup]="datosForm">
    <div class="container mt-3">
        <div class="row" style="width: 100%;">
            <div class="col">
                <h3>Antecedentes</h3>
                <textarea class="form-control" name="" id="" cols="30" rows="10" formControlName="antecedentes"></textarea>
            </div>
        </div>
        <div class="row"  style="width: 100%;">
            <div class="col">
                <h3>Acuerdos</h3>
                <textarea class="form-control" name="" id="" cols="30" rows="10" formControlName="acuerdos"></textarea>
            </div>
        </div>
        <!-- componente protocolos -->
        <app-protocolo-comp></app-protocolo-comp>
        <!-- fin de componente protocolos -->
    
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <button class="btn btn-success mr-4" (click)="guardarReunion()" [disabled]="datosForm.invalid">Guardar</button>
                <button class="btn btn-primary">Volver</button>
            </div>
        </div>
    </div>
</form>