<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-left p-4">
                <h3 class="text-black-60 mt-4 pt-3">Busqueda por Rut</h3>
                <p class="text-secondary mt-4">Ingresa el numero de rut para la busqueda de registros, actas, visitas etc.</p>
                <form [formGroup]="rutBusqueda">
                    <div class="form-row justify-content-between pt-5">
                        <div class="col-3">
                            <p class="text-secondary mr-3 mt-2">RUT</p>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="RUT sin puntos ni guiones" formControlName="rut">
                            <!-- <div class="mt-2 text-danger" *ngIf= "datosRegistro.get('asunto').hasError('required') && datosRegistro.get('asunto').touched"><p>Debes ingresar el asunto</p></div> -->
                        </div>
                    </div>
                    <div class="row mt-4 pt-3">
                        <div class="col-lg-6 offset-lg-3 ">
                            <button class="btn btn-primary text-white mr-3" routerLink="/dashboard">Volver</button>
                            <button class="btn btn-success text-white" (click)="busqueda()">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>