
<div class="container">
    <div class="row">
     <div class="col">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" [ngClass]="{'active':tabs==1}" (click)="navfn(1)">Busqueda por rut</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active':tabs==2}"  (click)="navfn(2)">Ver cursos</a>
            </li>
          </ul>
     </div>
    </div>
    <div class="row" *ngIf="tabs==1">
        <div class="col">
            <h3 class="text-black-60 mt-4 pt-3">Busqueda por Rut</h3>
            <p class="text-secondary mt-4">Ingresa el numero de rut para la busqueda de registros, actas, visitas etc.</p>
            <form [formGroup]="rutBusqueda">
                <div class="form-row justify-content-between">
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="RUT sin puntos ni guiones" formControlName="rut">
                        <!-- <div class="mt-2 text-danger" *ngIf= "datosRegistro.get('asunto').hasError('required') && datosRegistro.get('asunto').touched"><p>Debes ingresar el asunto</p></div> -->
                    </div>
                </div>
                <div class="row mt-4 pt-3">
                    <div class="col ">
                        <button type="button" class="btn btn-primary text-white mr-3" routerLink="/dashboard">Volver</button>
                        <button class="btn btn-success text-white" (click)="busqueda()">Buscar</button>
                    </div>
                </div>
            </form>
       
        </div>
    </div>
    <div class="row">
        <app-panel-estudiante *ngIf="tabs==2" style="margin-top:20px; width: 100%;"></app-panel-estudiante>
    </div>
</div>