<div class="container">
    <div class="row justify-content-center" style="width: 100%;">
        <div class="col-lg-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
                <button class="adm" routerLink="/dashboard/administracion/miestablecimiento/tematicas/nuevatematica/">
                    <div class="card" style="background-color:#a31d86">
                      <!-- style="background-color: #05a7b3;" -->
                        <div class="card-body">
                            <!-- <fa-icon [icon]="faSearch" class="icono" style="color:white ;"></fa-icon> -->
                            <span class="material-icons">insert_drive_file</span>
                          <h5 class="card-title">Nueva temática</h5>
                          <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Ingresa una nueva temática</h6>
                          <p class="card-text"></p>
                        </div>
                      </div>
                </button>
            </div>
            
        </div>
        <div class="col-lg-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
                <button class="adm" routerLink="/dashboard/administracion/miestablecimiento/tematicas/vertematicas/">
                    <div class="card" style="background-color:#05b379">
                      <!-- style="background-color: #05a7b3;" -->
                        <div class="card-body">
                            <span class="material-icons">description</span>
                          <h5 class="card-title">Ver temáticas</h5>
                          <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Listado de temáticas ingresadas al establecimiento</h6>
                          <p class="card-text"></p>
                        </div>
                      </div>
                </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col d-flex justify-content-center">
          <button class="btn btn-success   text-white" routerLink="/dashboard">Volver</button>
        </div>
      </div>