<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h2>Datos del funcionario</h2><br>
        <!-- <p>Ingresa los detalles del funcionario (Docente, asistente)</p> -->
        <br>
        <form [formGroup]="datosFuncionario" (ngSubmit)= "registrarFuncionario()">
            <h4>Datos Personales</h4><br>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                    <div class="text-danger" *ngIf= "datosFuncionario.get('nombre').hasError('required') && datosFuncionario.get('nombre').touched">El nombre es requerido</div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
                    <div class="text-danger" *ngIf= "datosFuncionario.get('apellido').hasError('required') && datosFuncionario.get('apellido').touched">El apellido es requerido</div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="RUT sin puntos ni guiones" formControlName="rut">
                    <div class="text-danger" *ngIf= "datosFuncionario.get('rut').hasError('required') && datosFuncionario.get('rut').touched">El rut es requerido</div>
                </div>    
            </div>
            <div class="form-row mt-4">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono">
                    <div class="text-danger" *ngIf= "datosFuncionario.get('telefono').hasError('required') && datosFuncionario.get('telefono').touched">El telefono es requerido</div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Correo Electronico" formControlName="correoElectronico">
                    <div class="text-danger" *ngIf= "datosFuncionario.get('correoElectronico').hasError('required') && datosFuncionario.get('correoElectronico').touched">El correo electronico es requerido</div>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" placeholder="Direccion" formControlName="direccion">
                <div class="text-danger" *ngIf= "datosFuncionario.get('direccion').hasError('required') && datosFuncionario.get('direccion').touched">La direccion es requerida</div>
            </div>
            <h4>Datos Unidad de Servicio</h4>
            <div class="form-row mt-4"> 
                <div class="col">
                    <input type="text" class="form-control" placeholder="Cargo" formControlName="cargo">
                    <div class="text-danger" *ngIf= "datosFuncionario.get('cargo').hasError('required') && datosFuncionario.get('cargo').touched">El cargo o funcion es requerido</div>
                </div>
            </div>
          <div class="row justify-content-center">
            <div class=" mt-4">
                <button class="btn btn-primary mr-2" routerLink="/dashboard/administracion">Volver</button>
                <button [disabled] = "datosFuncionario.invalid" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </form>
    </div>
</div>
            
            