<div class="row" *ngxPermissionsOnly="'SuperAdministrador'">
    <div class="col-lg-8 offset-lg-2">
        <h3>Ingresa el nuevo establecimiento</h3>
        <form [formGroup]="datosEstablecimiento" (ngSubmit)="registrarEstablecimiento() " >
            <div class="form-row mt-4">
                <div class="col">
                    <p class="text-secondary ml-1">Nombre del Establecimiento</p>
                    <input type="text" class="form-control" formControlName="nombreEstablecimiento">
                    <div class="text-danger ml-1" *ngIf= "datosEstablecimiento.get('nombreEstablecimiento').hasError('required') && datosEstablecimiento.get('nombreEstablecimiento').touched">El nombre es obligatorio</div>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col">
                    <p class="ml-1 text-secondary">RBD</p>
                    <input type="text" class="form-control" formControlName="rbd">
                    <div class="text-danger" *ngIf= "datosEstablecimiento.get('rbd').hasError('required') && datosEstablecimiento.get('rbd').touched">El RBD es obligatorio</div>
                </div>
                <div class="col">
                    <p class="ml-1 text-secondary">Dirección</p>
                    <input type="text" class="form-control" formControlName="direccion">
                    <div class="text-danger" *ngIf= "datosEstablecimiento.get('direccion').hasError('required') && datosEstablecimiento.get('direccion').touched">La Dirección es obligatorio</div>
                </div>
                <div class="col">
                    <p class="ml-1 text-secondary">Comuna</p>
                    <input type="text" class="form-control" formControlName="comuna">
                    <div class="text-danger" *ngIf= "datosEstablecimiento.get('comuna').hasError('required') && datosEstablecimiento.get('comuna').touched">La comuna es obligatoria</div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <p class="text-secondary ml-1">Director(a)</p>
                    <input type="text" class="form-control"formControlName="director">
                    <div class="text-danger" *ngIf= "datosEstablecimiento.get('director').hasError('required') && datosEstablecimiento.get('director').touched">El nombre del Director(a) es obligatorio</div>
                </div>
                <div class="col">
                    <p class="text-secondary ml-1">Teléfono</p>
                    <input type="text" class="form-control" formControlName="telefono">
                    <div class="text-danger" *ngIf= "datosEstablecimiento.get('telefono').hasError('required') && datosEstablecimiento.get('telefono').touched">El teléfono es obligatorio</div>
                </div>
            </div>
            <div class="form-row mt-2 justify-content-center">
                <button class="btn btn-primary" routerLink="/dashboard/administracion">Volver</button>
                <button class="btn btn-success ml-2" [disabled]="datosEstablecimiento.invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>