.reg{
    text-align: center;
}
.material-icons{
    cursor: pointer;
}
a{
    cursor:pointer;
}
.square{
    border: 1px solid;
    border-color: rgb(211, 69, 224);
    padding: 20px 10px;
    border-radius: 1em;
}
.square-dos{
    border-style: solid!important;
    border-color: rgb(221, 190, 14)!important;
    padding: 20px 10px;
    border-radius: 1em;
}
.square-3{
    border-style: solid!important;
    border-color: rgb(211, 209, 203)!important;
    padding: 20px 10px;
    border-radius: 1em;
}
table{
    text-align: center;
}
span{
    cursor: pointer;
}
.butt{
    background-color: rgb(156, 65, 241)!important;
    border-color: blueviolet;
    color:white;
}