<div class="row">
        <div class="col-lg-12 ml-4 mt-4 mb-4">
            <h3 class="text-secondary">Panel de Control Convivencia</h3>
        </div>
</div>
    <div class="row container-fluid">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
            <button class="adm" routerLink="/dashboard/busqueda/buspasouno">
                <div class="card" style="background-color:#05a7b3">
                  <!-- style="background-color: #05a7b3;" -->
                    <div class="card-body">
                        <fa-icon [icon]="faSearch" class="icono" style="color:white ;"></fa-icon>
                      <h5 class="card-title">Busqueda</h5>
                      <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Buscar estudiante o funcionario</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-xl-3 mt-1">
            <button class="adm" routerLink="/dashboard/registro/regPasoUno">
                <div class="card" style="background-color: #08ca32;">
                    <div class="card-body">
                        <fa-icon [icon]="faFileAlt" class="icono" style="color:white;"></fa-icon>
                      <h5 class="card-title">Registro</h5>
                      <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Ingreso de intervencion</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-xl-3 mt-1">
            <button class="adm">
                <div class="card" style="background-color: #f3bc09; background-color: grey;">
                    <div class="card-body">
                        <fa-icon [icon]="faGavel" class="icono" style="color:white ;"></fa-icon>
                      <h5 class="card-title">Causas Judiciales</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Ingresar acciones judiciales</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-xl-3 mt-1">
            <button class="adm">
                <div class="card" style="background-color: #525302; background-color: grey;">
                    <div class="card-body">
                        <fa-icon [icon]="faHome" class="icono" style="color:white ;"></fa-icon>
                      <h5 class="card-title">Visita Domiciliaria</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Ingreso de Reunion en Domicilio</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
            <button class="adm" routerLink="reuniones">
                <div class="card" style="background-color: #016464; background-color: grey;">
                    <div class="card-body">
                        <fa-icon [icon]="faHandshake" class="icono" style="color:rgb(255, 255, 255) ;"></fa-icon>
                      <h5 class="card-title">Reuniones (Actas)</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Agregar usuarios, establecimientos...</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
            <button class="adm">
                <div class="card" style="background-color: #8d36af; background-color: grey;">
                    <div class="card-body">
                        <fa-icon [icon]="faFileAlt" class="icono" style="color:rgb(255, 255, 255) ;"></fa-icon>
                      <h5 class="card-title">Informes</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Recopila acciones</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </button>
        </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
            <button class="adm" routerLink='/dashboard/administracion'>
                <div class="card" style="background-color: #f37209;">
                    <div class="card-body">
                        <fa-icon [icon]="faCogs" class="icono" style="color:white ;"></fa-icon>
                      <h5 class="card-title">Administracion</h5>
                      <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Agregar usuarios, funcionarios...</h6>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </button>
        </div> 
    </div>