.adm{
    border-style: none;
    background-color: white;
    
    
}
.other{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0px!important;
}


.icono{
    font-size: 6rem;
    
}
.card{
    width: 250px;
    height: 250px;
    color:white;
    box-shadow: 0px 0px 5px 2px #bebebd
}
.card :hover{
    background-color: rgb(76, 118, 146)!important;
    border-color: rgb(76, 118, 146)!important;
    
    
}
span{
    font-size: 7rem;
}
.none :hover{
    background-color: grey!important;
}

.admin{
    background-color: #f37209;
    border:none;
}
.admin :hover{
    border-color: none!important;
    border-radius: 5px;
}