<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-3 offset-lg-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
                <button class="adm" routerLink="/dashboard/busqueda/buspasouno">
                    <div class="card" style="background-color:#a31d86">
                      <!-- style="background-color: #05a7b3;" -->
                        <div class="card-body">
                            <!-- <fa-icon [icon]="faSearch" class="icono" style="color:white ;"></fa-icon> -->
                            <span class="material-icons">insert_drive_file</span>
                          <h5 class="card-title">Nuevo Protocolo</h5>
                          <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Ingresa un nuevo protocolo al establecimiento</h6>
                          <p class="card-text"></p>
                        </div>
                      </div>
                </button>
            </div>
            
        </div>
        <div class="col-lg-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-1">
                <button class="adm" routerLink="/dashboard/busqueda/buspasouno">
                    <div class="card" style="background-color:#05b379">
                      <!-- style="background-color: #05a7b3;" -->
                        <div class="card-body">
                            <span class="material-icons">description</span>
                          <h5 class="card-title">Ver Protocolos</h5>
                          <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Listado de protocolos ingresados al establecimiento</h6>
                          <p class="card-text"></p>
                        </div>
                      </div>
                </button>
            </div>
        </div>
    </div>
</div>