<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 mt-4 col-xl-4">
          <button class="adm" routerLink="/dashboard/reuniones/mis-reus">
              <div class="card" style="background-color:#05c5ff;">
                <!-- style="background-color: #05a7b3;" -->
                  <div class="card-body">
                      <fa-icon [icon]="faSearch" class="icono" style="color:white ;"></fa-icon>
                    <h5 class="card-title">Ver mis reuniones</h5>
                    <!-- <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Ver las ulti</h6> -->
                    <p class="card-text"></p>
                  </div>
                </div>
          </button>
      </div>
      <div class="col-12 col-sm-6 col-md-5 col-lg-4 mt-4 col-xl-4">
            <button class="adm" routerLink="/dashboard/reuniones/reupasouno">
                <div class="card" style="background-color:#f2a323;">
                <!-- style="background-color: #05a7b3;" -->
                    <div class="card-body">
                        <fa-icon [icon]="faFilePlus" class="icono" style="color:white ;"></fa-icon>
                    <h5 class="card-title">Ingresar nueva reunión</h5>
                    <!-- <h6 class="card-subtitle mb-2" style="color: rgb(235, 235, 235);">Ver las ulti</h6> -->
                    <p class="card-text"></p>
                    </div>
                </div>
            </button>
        </div>
    </div>
    <div class="row mt-3">
       <div class="col ml-2">
            <button class="btn btn-secondary" routerLink="/dashboard">Volver</button>
       </div>
    </div>
</div>
