<div class="container">
    <div class="row p-5">
        <h5>Seguimiento</h5>
        <p>Estudiantes y Funcionarios que se encuentran en</p>
    </div>
    <div class="row">
        <table class=" table table-bordered">
            <tr>
                <th>N°</th>
                <th>Nombre Apellido</th>
                <th>Curso</th>
                <th>Ingresado por</th>
                <th>Ver</th>
                
            </tr>
            <tr>
                <td>1</td>
                <td>Julieta Saldivia</td>
                <td>8A</td>
                <td>Yanina Espinoza</td>
                <td><a><span class="material-icons text-primary" style="cursor: pointer;"routerLink="/dashboard/seguimiento/editar-seguimiento">article</span></a></td>
            </tr>
        </table>
    </div>
    </div>